<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" href="/css/bootstrap.css"
</head>
<body>
        <center><h1>留言</h1></center>
        <center>
            <form action="{{ url_for('ps.post') }}" method="POST">
                暱稱: <input type="text" name="say_user"><br>
                標題: <input type="text" name="say_title"><br>
                內容: <input type="text" name="say"><br>
                <button>送出</button>
            </form>
        </center>
    <center>
        <table border="2">
            {{ pagination.info }}
            <table>
            <thead>
            <tr>
                <th>筆數</th>
                <th>標題</th>
                <th>内容</th>
                <th>暱稱</th>
                <th>留言時間</th>
            </tr>
            </thead>
            <tbody>
            <!--skip((當前頁碼-1)*每頁顯示數).limit(每頁顯示數)  如：點擊第二页--偏移值為10，查找11位以後的數據截取前10個-->
            {% for say in says.skip((page-1)*per_page).limit(per_page) %}
              <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>{{ say['title'] }}</td>
                <td>{{ say['text'] }}</td>
                <td>{{ say['user'] }}</td>
                <td>{{ say['date'] }}</td>
              </tr>
            {% endfor %}
            </tbody>
            </table>
            {{ pagination.links }}
        </table>
    </center>
</body>
</html>