<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>留言板</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    <ul class="nav nav-pills justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="signout">登出</a>
        </li>
      </ul>
    <center><h1>留言</h1></center>
        <center>
            <form class="table" action="{{ url_for('ps.post') }}" method="POST">
                標題: <input type="text" name="say_title"><br>
                內容: <input type="text" name="say"><br>
                <button>送出</button>
            </form>
        </center>
    <center>
        <table class="table" border="2">
            {{ pagination.info }}
            <table class="table table-sm">
            <thead>
            <tr>
                <th scope="col">筆數</th>
                <th scope="col">標題</th>
                <th scope="col">内容</th>
                <th scope="col">暱稱</th>
                <th scope="col">留言時間</th>
            </tr>
            </thead>
            <tbody>
            <!--skip((當前頁碼-1)*每頁顯示數).limit(每頁顯示數)  如：點擊第二页--偏移值為10，查找11位以後的數據截取前10個-->
            {% for say in says.skip((page-1)*per_page).limit(per_page) %}
              <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>{{ say['title'] }}</td>
                <td>{{ say['text'] }}</td>
                <td>{{ say['user'] }}</td>
                <td>{{ say['date'] }}</td>
                <form action="update" method="POST">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" name="user" value="{{ say['user'] }}">
                    <input type="hidden" name="email" value="{{ say['email'] }}">
                    <input type="hidden" name="date" value="{{ say['date'] }}">
                    <td><button>修改</button></td>
                </form>
                <form action="delete" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="user" value="{{ say['user'] }}">
                    <input type="hidden" name="email" value="{{ say['email'] }}">
                    <input type="hidden" name="date" value="{{ say['date'] }}">
                    <input type="hidden" name="_id" value="{{ say['_id'] }}">
                    <td><button>刪除</button></td>
                </form>
              </tr>
            {% endfor %}
            </tbody>
            </table>
            {{ pagination.links }}
        </table>
    </center>
</body>
</html>


  